' Notification#question_update
= "\r\n" * 2
' #{@greeting}, find me in app/views/notification_mailer/question_update.text.slim
' New Answer Notification
  ' #{@question.title}
  'Has new Answer:
  ' #{@answer.body}